*{
    padding: 10px;
}

.sidebar{
    color: white;
    background-color: beige;
    height: 30px;
    width: 30px;
}

.sidebar nav li{
    text-decoration: none;
}

.content{
    background-color: white;
    height: 30px;
    width: 30px;
}

.container{
    display: flex;
}