*{
    padding: 0%;
    margin: 0%;
}

.sidebar{
    color: white;
    background-color: beige;
    width: 20vw;
    height: 50vw;
    font-size: larger;
    
}

.sidebar nav{
    padding: 5%;
}

.sidebar nav li{
    text-decoration: none;
    color: white;
    padding: 20%;
}

.content{
    background-color: gainsboro;
    width: 80vw;
    height: 50vw;
}

.container{
    display: flex;
}